description = "Footer"

[viewBag]
==
<div class="footer__wrapper">
  <div class="address">{{ this.theme.address }}</div>
  <div class="footer__messanger center">
    <ul class="messanger-list">
      {% if this.theme.whatsapp %}
      <li class="messanger-item">
        <a class="messanger-link" rel="nofollow" href="whatsapp://send?phone=+{{ this.theme.whatsapp }}" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
      </li>
      {% endif %}
      {% if this.theme.tg %}
      <li class="messanger-item">
        <a class="messanger-link" rel="nofollow" href="tg://resolve?domain={{ this.theme.tg }}" title="Telegram"><i class="fab fa-telegram-plane"></i></a>
      </li>
      {% endif %}
      {% if this.theme.viber %}
      <li class="messanger-item">
        <a class="messanger-link" rel="nofollow" href="viber://add?number={{ this.theme.viber }}" title="Viber"><i class="fab fa-viber"></i></a>
      </li>
      {% endif %}
      {% if this.theme.instagram %}
      <li class="messanger-item">
        <a class="messanger-link" rel="nofollow" target="_blank" href="{{ this.theme.instagram }}" title="Instagram"><i class="fab fa-instagram"></i></a>
      </li>
      {% endif %}
      {% if this.theme.vk %}
      <li class="messanger-item">
        <a class="messanger-link" rel="nofollow" href="{{ this.theme.vk }}" title="vk"><i class="fab fa-vk"></i></a>
      </li>
      {% endif %}
  </ul>
  </div>
  <div class="footer__contact">
    <a class="phone" href="tel:{{ this.theme.phone }}">{{ this.theme.phone }}</a>
    <button class="button open-modal">Оставить заявку</button>
  </div>
</div>
<div class="footer__wrapper company">
  <span class="footer__info">ИНН 344603088983 ИП Семенова Ольга Евгеньевна</span> <a href="{{ 'policy'|staticPage }}" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a>
</div>