description = "Header"

[viewBag]

[staticMenu headerMenu]
code = "top-menu"
==
<div class="header__wrapper">
  <a href="/" class="logo">
    <img src="{{ this.theme.logo|media|resize(250, false, { mode: 'crop', quality: '100' }) }}" alt="{{ this.theme.site_name}}">
  </a>
  <button class="hamburger open-menu"></button>
  <button class="hamburger close-menu"></button>
  <nav class="navbar">
     {% partial "app/header-menu" items=menuItems %}

    <div class="header__cart">
      <a class="header__cart-link" href="#!" id="openCart">
        <i class="fas fa-shopping-basket"></i>
        <span id="total-count" class="header__cart-count">0</span>
      </a>
      {% partial "app/mini-cart.htm" %}
    </div>

  </nav>
</div>